header{
	text-align: center;
	background: url("van5.jpeg");
	background-size: cover;
	height: 260px;
	color: white;
	font-family: "Waiting for the Sunrise";
	padding-bottom: 0px;
}

#main_title {
	font-size: 65px;
	padding-top: 1.9cm;
	padding-left: 1.3cm;
}
a{
	color:black
}

ul#menu_whole {
	font-family: "Poiret One";
	background-color: white;
	padding-bottom: 10px;
	text-align: center;
	border-bottom-style: groove;
	padding-top: 0px;

}

.menu_item {
	display:inline;
	padding: 0px 30px 00px 30px;
	font-size: 35px;
}

body { 
font-family: "Amatic SC"
padding-top: 10px;
;
 }
