.whole-header {
	width: 100%;
	height: 260px;
}

.inner-headblock{
	background: url("van5.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 260px;
	display: inline-block;
	background-position: 50% 50%;

}

#main_title {
	font-size: 65px;
	color: white;
	font-weight: bolder;
	position: absolute;
	text-align: center;
	padding-top: 60px;
	width:100%;
	font-family: "Waiting for the Sunrise";
}

#title_link{
	color:white;
	text-decoration: none;
}

#sub_heading {
	padding-left: 1cm;
	color: #d7d7d7;
	font-family: "Poiret One";
	position: absolute;
	text-align: center;
	width:100%;
	top:120px;


}

ul#menu_whole {
	font-family: "Poiret One";
	background-color: white;
	padding-bottom: 20px;
	text-align: center;
	border-bottom-style: groove;
	border-bottom-color: #ADDFFF;
	border-bottom-width: 1px;
	border-top-style: groove;
	padding-top: 20px;

}

.menu_item {
	display:inline;
	padding: 0px 40px 0px 40px;
	font-size: 1.8em;
}


body { 
	font-family: "Amatic SC"
	padding-top: 10px;
	overflow-x: hidden;

}

 .row .thumbnail {
    border:0;
    box-shadow:0;
    border-radius:0;

}

.thumbnail {
	margin-bottom: 0px;
}

.row {
	 overflow-x: hidden;
	 margin: 0px;
}

.col-xs-12.col-sm-6.col-md-4 {
	padding: 5px;
}

